.bbenver {max-width: 500px; width: 100%; background: #0a0a0a; --color-acento: #58222A; padding: 30px; margin: 0 auto;}
.cronoenver {font-family: 'Adelia'; color: var(--color-acento); font-size: 25px; text-align: center; padding: 10px;}
.mesenver {padding: 30px 0; height: 200px; font-family: 'Quicksand'; font-size: 12px; color: #ccc; outline: 1px solid var(--color-acento);}
.mesenver strong{color: var(--color-acento);}
.mesenver a, .mesenver a:link, .mesenverstrong a:visited, .mesenverstrong a:hover {color: var(--color-acento); font-weight: bold;}
.mesenver div {overflow: auto;height: 100%;padding: 0 5px 0 0;}
.nmes {font-family: 'Adelia'; font-size: 20px; color: var(--color-acento); text-align: center; margin: 0 auto; position: relative; top: -10px; max-width: 150px; background: #0a0a0a; line-height: 20px;}
.leycrono {max-width: 470px; width: 100%; background: var(--color-acento); padding: 5px; font-family: 'Quicksand'; font-size: 12px; color: #ccc; text-align: center;}
.ice {font-size: 11px; margin: 0 2px; color: var(--color-acento);} 
@font-face {font-family: 'Adelia'; src: url('https://cobaltito.github.io/codi/adelia.ttf');} 
