.basefirma {width: 300px; height: 220px; background: url(https://imgur.com/LXB27uE.png); border: 1px solid #4F8C9F; outline: 1px solid #B3CAD1; margin: 0 auto;}
.textop {font-family: Wild Ones; font-size: 40px; color: #B3CAD1; text-shadow: -1px -1px 1px #4F8C9F; text-align: right; position: relative; top: 180px;}
.base2 {width: 260px; height: 100px; background: rgba(60, 90, 100, 0.8); padding: 20px; margin: 0 auto; flex: 1; display: flex; justify-content: space-around; align-content: center; align-items: center; opacity: 0; transition: 1s;}
.icono {color: #4F8C9F; font-size: 50px;}
.icono2 {color: #4F8C9F; font-size: 50px; transform: rotate(-90deg)}
.textito {font-family: Montserrat; color: #B3CAD1; text-align: center; font-size: 12px;}
.textitoomg {font-family: Wild Ones; color: #B3CAD1; font-size: 20px;}
.base2:hover {opacity: 1}
@font-face {font-family: Wild Ones; src: url('https://dl.dropbox.com/s/b2oevlcnuu56kke/Wild%20Ones%20Personal%20Use.ttf'); format('truetype');font-display: swap;}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
