@font-face {font-family: Adelia; src: url('https://cobaltito.github.io/codi/adelia.ttf');}

*{--ftransp: rgba(11, 11, 11, .5);
--sadien: #f79d65;
--sadiel: #b68cf5;
--sadient: rgb(247, 157, 101, 0.5);
--sadielt: rgb(182, 140, 245, 0.5);
--acentog: #24544C;
box-sizing: border-box;
padding: 0;}


/*calendario crono*/

.calend-sadie{
  max-width: 900px; width: 100%;
  display: flex; align-items: center; gap: 20px;
  margin: 0 auto;
}
/*base*/
.crono-calend{
  width: 450px;
  height: 500px;
  background: var(--ftransp);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
}

/*mes*/

.crono-calend span{
  font-family: var(--fdeco);
  font-size: 35px;
  color: var(--sadielt);
}

/*lineas*/
.calend-lin{
  display: flex;
  align-items: center; justify-content: space-evenly;
  width: 400px;
  height: 60px;
}

/*dias*/

.c-day{
  width: 50px;
  height: 50px;
  border: var(--border);
  border-radius: 10px;
  font-family: var(--fmono);
  font-size: 15px;
  color: white!important;
  padding: 3px;
}

/*space holder para dias*/

.c-space{
  width: 50px;
  height: 50px;
}

/*colores para dias*/

.c-day.ocup{
  background-color: rgb(125, 54, 54, 0.6);
}

.c-day.ocupt{
  background: linear-gradient(transparent 0%, transparent 45%, rgb(125, 54, 54, 0.6) 100%);
}

.c-day.ocupm{
  background: linear-gradient(rgb(125, 54, 54, 0.6) 0%, transparent 65%, transparent 100%);
}

.c-day.free{
  background-color: rgb(36, 84, 76, 0.6);
}

.c-day.imp{
  border: 3px solid var(--sadielt);
}

/*hover del calendario*/

[c-title]:hover:after {opacity: 1; transition: ease-in 0.2s; visibility: visible;}
[c-title]:after {content: attr(c-title); 
background-color: var(--backblack);
border: var(--border);
font-family: var(--fmono); 
text-transform: uppercase;
letter-spacing: 1px;
font-size: 10px;
padding: 2px; 
visibility: hidden; 
position: absolute;
margin-left: 10px;}

/*cronologia*/
/*base*/

.crono-sadie{
  max-width: 900px; width: 100%;
  display: flex; flex-direction: column;
  align-items: center; justify-content: space-evenly;
  gap: 20px;
  padding: 50px;
  background: var(--ftransp);
  margin: 0 auto;
}

/*nombre mes*/

.crono-mes{
  font-family: var(--fdeco);
  font-size: 45px;
  color: var(--sadielt);
}

/*caja tema*/

.cr-tema{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: var(--fmono);
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1em;
  border: var(--border);
  padding: 10px;
  border-radius: 15px;
}

/*link al tema*/

.cr-tema a, .cr-tema link, .cr-tema:visited{
  text-decoration: none!important;
  font-family: var(--font);
  font-size: 15px;
  color: var(--sadielt)!important;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 15px;
}

/*abierto*/

.cr-tema.abierto::before{
  font-family: "FontAwesome";
  content: '\f3c1';
  color: var(--backblack)!important;
  font-size: 15px;
  background: var(--sadielt);
  border-radius: 10px;
  width: 30px;
  height: 30px;
  display: flex; align-items: center; justify-content: center;
}

/*cerrado*/

.cr-tema.cerrado::before{
  font-family: "FontAwesome";
  content: '\f023';
  color: var(--backblack)!important;
  font-size: 15px;
  background: var(--sadielt);
  border-radius: 10px;
  width: 30px;
  height: 30px;
  display: flex; align-items: center; justify-content: center;
}

/*abandonado*/

.cr-tema.abandonado::before{
  font-family: "FontAwesome";
  content: '\f6e2';
  color: var(--backblack)!important;
  font-size: 15px;
  background: var(--sadielt);
  border-radius: 10px;
  width: 30px;
  height: 30px;
  display: flex; align-items: center; justify-content: center;
}

/*privado*/

.cr-tema.privado a::before{
  font-family: "FontAwesome";
  content: '\f10d';
  color: var(--backblack)!important;
  font-size: 15px;
  background: var(--sadient);
  border-radius: 10px;
  width: 30px;
  height: 30px;
  display: flex; align-items: center; justify-content: center;
}

/*grupal*/

.cr-tema.grupal a::before{
  font-family: "FontAwesome";
  content: '\f1dd';
  color: var(--backblack)!important;
  font-size: 15px;
  background: var(--sadient);
  border-radius: 10px;
  width: 30px;
  height: 30px;
  display: flex; align-items: center; justify-content: center;
}

/*relato*/

.cr-tema.relato a::before{
  font-family: "FontAwesome";
  content: '\f15c';
  color: var(--backblack)!important;
  font-size: 15px;
  background: var(--sadient);
  border-radius: 10px;
  width: 30px;
  height: 30px;
  display: flex; align-items: center; justify-content: center;
}

/*caceria*/

.cr-tema.caceria a::before{
  font-family: "FontAwesome";
  content: '\e19b';
  color: var(--backblack)!important;
  font-size: 15px;
  background: var(--sadient);
  border-radius: 10px;
  width: 30px;
  height: 30px;
  display: flex; align-items: center; justify-content: center;
}

/*trama*/

.cr-tema.trama a::before{
  font-family: "FontAwesome";
  content: '\f08d';
  color: var(--backblack)!important;
  font-size: 15px;
  background: var(--sadient);
  border-radius: 10px;
  width: 30px;
  height: 30px;
  display: flex; align-items: center; justify-content: center;
}

/*leyenda*/

.crono-leyenda{
  width: 80%;
  height: 60px;
  border: var(--border);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.crono-leyenda span{
  font-family: var(--fmono);
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.crono-leyenda.temas i{
  color: var(--backblack)!important;
  font-size: 15px;
  background: var(--sadielt);
  border-radius: 10px;
  width: 30px;
  height: 30px;
  display: flex; align-items: center; justify-content: center;
}

.crono-leyenda.tipos i{
  color: var(--backblack)!important;
  font-size: 15px;
  background: var(--sadient);
  border-radius: 10px;
  width: 30px;
  height: 30px;
  display: flex; align-items: center; justify-content: center;
}

